dj-database-url
psycopg2-binary
asgiref
certifi
charset-normalizer
crispy-bootstrap5
distlib
Django
djangorestframework
django-cors-headers
django-crispy-forms
django-dotenv
django-email
django-environ
django-filter
EasyProcess
entrypoint2
filelock
idna
Markdown
MouseInfo
mss
numpy
opencv-contrib-python
pillow
pip
pipenv
platformdirs
psycopg2
PyAutoGUI
PyGetWindow
PyMsgBox
pyperclip
PyRect
pyscreenshot
PyScreeze
pytweening
pytz
requests
setuptools
sqlparse
typing_extensions
tzdata
urllib3
virtualenv